{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@layouts/(.*)$",
    "^@components/(.*)$",
    "^@store/(.*)$",
    "^@services/(.*)$",
    "^@types",
    "^@api/(.*)$",
    "^@hooks/(.*)$",
    "^@shared/(.*)$",
    "^@utils/(.*)$",
    "^@configs/(.*)$",
    "^@assets/(.*)$",
    "^@providers/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
